.footer {
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    margin-bottom: 80px;
    justify-content: center;
}
.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer__item {
}
.footer__item-title {
    margin-bottom: 10px;
    color: var(--text-dark);
    font-size: 20px;
    font-weight: 600;
}
.footer__link {
    color: var(--text-light);
    transition: color .3s ease;
    &:hover{
        color: var(--primary-color);
    }
}
.footer__copu {
    color: var(--text-light);
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.3;
}

@media (max-width: 1160px){
    .footer__inner {
        grid-template-columns: repeat(2, 270px);
        row-gap: 40px;
    }
}
@media (max-width: 590px){
    .footer__inner {
        grid-template-columns: repeat(2, 200px);
        margin-bottom: 40px;
    }
}
@media (max-width: 430px){
    .footer__inner {
        grid-template-columns: repeat(1, 1fr);
    }
}