.header {
}
.header__inner {
    display: flex;
}
.header__left {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.header__top {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.header__logo {
    width: 55px;
    height: 40px;
}
.logo-white{
    display: none;
}
.header__nav {
}
.header__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.header__menu.active-menu{
     top: 0;
}
.header__item {
}
.header__link {
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 1px solid transparent;
    &:hover{
        border-color: black;
    }
}
.header__content {
    transform: translateY(130px);
}
.header__title {
    font-size: 55px;
    color: var(--text-dark);
    font-weight: 600;
    max-width: 500px;
    width: 100%;
    line-height: 1.1;
    margin-bottom: 20px;
}
.header__text {
}
.header__price {
    font-size: 25px;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-weight: 600;
}
.header__buttons {
    display: flex;
    align-items: center;
}
.header__button-1 {
    background-color: var(--text-light);
    color: var(--white);
    padding: 14px 30px;
    font-size: 12px;
    transition: background-color .3s ease;
    &:hover{
        background-color: black;
    }
}
.header__button-2{
}
.header__image {
    background: var(--primary-color);
    padding: 80px 80px 80px 100px;
    max-width: 550px;
    width: 100%;
}
.header__img {
    max-height: 650px;
    height: 100%;
    max-width: 350px;
    width: 100%;
    object-fit: cover;
}
.header__burger {
    display: none;
    width: 50px;
    height: 22px;
    padding-top: 10px;
    position: relative;
    z-index: 3;
    cursor: pointer;
}
.header__burger span {
    background-color: var(--white);
    width: 70%;
    height: 2px;
    transform: scale(1);
}

.header__burger::before,
.header__burger::after {
    content: "";
    background-color: var(--white);
    width: 70%;
    height: 2px;
    position: absolute;
    transition: all .3s ease;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.active.header__burger span {
    transform: scale(0);
}

.active.header__burger::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.active.header__burger::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.header__menu{
    display: none;
}


@media (max-width: 1035px){
    .header__inner{
        flex-direction: column;
        row-gap: 80px;
        align-items: center;
    }
    .header__top {
       justify-content: center;
    }
    .header__content {
        transform: translateY(50px);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header__image {
        padding: 80px 80px 80px 100px;
    }
}

@media (max-width: 700px){
    .header__list {
        display: none;
    }
   .header__top{
      background-color: var(--text-dark);
      width: 100vw;
      padding: 15px 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
   }
   .logo-dark{
      display: none;
   }
   .logo-white{
      display: block;
      margin-right: auto;
      margin-left: 20px;
   }
   .header__menu{
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      background-color: var(--text-dark);
      transition: .5s ease;
      padding-top: 100px;
      z-index: 2;
   }
   .header__menu-link{
      color: var(--white);
      font-size: 18px;
      font-weight: 600;
   }
   .header__burger{
      display: flex;
    }
}

@media (max-width: 500px){
    .header__title{
        font-size: 40px;
    }
    .header__image {
        padding: 30px 30px 30px 50px;
    }
}
